@model CoffVArt.Models.DetallesCompra

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DetallesCompra</h4>
<hr />
<div class="loginRow">
    <div class="formContainer">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetalleCompraId" />
            <div class="formInputContainer">
                <select asp-for="CompraId" class="form-control" asp-items="ViewBag.CompraId"></select>
                <label asp-for="CompraId" class="control-label"></label>
                <span asp-validation-for="CompraId" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <select asp-for="InsumoId" class="form-control" asp-items="ViewBag.InsumoId"></select>
                <label asp-for="InsumoId" class="control-label"></label>
                <span asp-validation-for="InsumoId" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input asp-for="Cantidad" class="form-control" placeholder="input"/>
                <label asp-for="Cantidad" class="control-label"></label>
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input asp-for="Valor" class="form-control" placeholder="input"/>
                <label asp-for="Valor" class="control-label"></label>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
