@model CoffVArt.Models.Compra

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Compra</h4>
<hr />
<div class="loginRow">
    <div class="formContainer">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="formInputContainer">
                <select asp-for="ProveedorId" class ="form-control" asp-items="ViewBag.ProveedorId"></select>
                <label asp-for="ProveedorId" class="control-label"></label>
            </div>
            <div class="formInputContainer">
                <input asp-for="Total" class="form-control" placeholder="input"/>
                <label asp-for="Total" class="control-label"></label>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
