@model CoffVArt.Models.Venta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Venta</h4>
<hr />
<div class="loginRow">
    <div class="formContainer">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVenta" />
            <div class="formInputContainer">
                <input asp-for="FechaVenta" class="form-control" placeholder="Fecha" />
                <label asp-for="FechaVenta" class="control-label"></label>
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <label asp-for="ClienteId" class="control-label"></label>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input asp-for="Total" class="form-control" placeholder="Total"/>
                <label asp-for="Total" class="control-label"></label>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="formInputContainer">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
